@charset "utf-8";
/* CSS Document */

@media screen and (max-width:1100px){


.wish_counter{ left:50%;}
.wrapper{ width:98%;}
.tag1, .tag2, .tag3{ width:50%; font-size:20px;}
.tag1{ margin:18% 0 0 4%; font-size:20px;}
.tag2{ margin-left:4%;}
.tag3{ margin-left:4%; width:80%;}
.wishes{ width:98%;}

}


@media screen and (max-width:979px){
	
.new img{ width:100px;}	
.timing_box{ height:auto;}
.left_wishes{ background:none; padding:10% 10%; width:80%; text-align:center; margin:0;}
.wish_counter{ position:static; float:left; width:100%; border:0;}
.tag1, .tag2, .tag3{ margin:10px 0; float:left; width:100%;}
.scroll img{ width:50px;}	
	
}


@media screen and (max-width:767px){

.logo img{ width:100px;}	
.wish_counter img{ width:50%;}
.blog1{ float:left; width:100%; margin-right:0;}
.footerSection .copySec{ float:left; width:100%; text-align:center;}
.footerSection .social{ float:left; width:100%; text-align:center;}
.footerSection .social a{ display:inline-block; vertical-align:top;}
.new img{ width:65px;}
	
	
}

@media screen and (max-width:599px){
.form_box{ width:96%; padding:20px 2%;}	
	
}


@media screen and (max-width:375px){
.form_box{ width:300px; padding:20px 1%;}	
	
}